@font-face {
    font-family: 'Averta';
    src: url('../resources/font/averta_regular.otf') format('woff2');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Averta';
    src: url('../resources/font/averta_semibold.otf') format('woff2');
    font-weight: 700;
    font-style: normal;
}
  
@font-face {
    font-family: 'Averta';
    src: url('../resources/font/averta_bold.otf') format('woff2');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Averta';
    src: url('../resources/font/averta_extrabold.otf') format('woff2');
    font-weight: 1200;
    font-style: normal;
}

@font-face {
    font-family: 'Averta';
    src: url('../resources/font/averta_regular_italic.otf') format('woff2');
    font-weight: 500;
    font-style: italic;
}

::-webkit-scrollbar {
    width: 8px;
    z-index: 101;
}
  
::-webkit-scrollbar-track {
    background: white;
}
  
::-webkit-scrollbar-thumb {
    background-color: #10B6CC;;
    border-radius: 20px;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Averta', sans-serif;
}

div, p {
    word-wrap: break-word;
    text-align: justify;
    text-justify: inter-word;
}

ol, p, ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

blockquote, body, dd, dl, dt, fieldset, figure, h1, h2, h3, h4, h5, h6, hr, html, iframe, legend, li, ol, p, pre, textarea, ul {
    margin: 0;
    padding: 0;
}

input {
    padding: 0;
    border: none;
    font: inherit;
    color: inherit;
    font-weight: 500;
    background-color: transparent;
    word-break: normal; 
}

button {
    padding: 0;
    border: none;
    font: inherit;
    color: inherit;
    background-color: transparent;
    word-break: normal;
}

img, video {
    height: auto;
    width: 100%;
}

a, a.active, a:hover {
    text-decoration: none;
}

a {
    cursor: pointer;
    color: inherit;
    font-style: normal;
    font-stretch: normal;
    letter-spacing: normal;
}

*:focus {
    outline: none;
}

#root {
    position: relative;
    overflow: hidden;
}

.wl-section {
    display: flex;
    position: relative;
    overflow: hidden;
    width: 100%;
    min-width: 768px;
    height: 100vh;
}

/* aside */

.wl-sidebar {
    position: relative;
    z-index: 100;
    width: 260px;
    background-color: #10B6CC;
    height: 100%;
}

.wl-sidebar .wl-sidebar-wrapper {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.wl-sidebar .wl-navbar {
    width: 100%;
}

.wl-logo {
    width: 180px;
    height: 70px;
    background-image: url(/resources/images/app_logo.png);
    filter: drop-shadow(0 0 0.75rem gray);
    background-repeat: no-repeat;
    background-size: contain;
    margin: 20px 30px 20px 30px;
} 

.wl-navbar-main {
    position: relative;
    margin-bottom: 16px;
}

.wl-sidebar .wl-navbar-menu .wl-navbar-item {
    font-weight: 900;
    color: var(--navigation-text);
    border-left: 3px solid transparent;
    padding-left: 30px;
    cursor: pointer;
    a {
        display: flex;
        align-items: center;
        font-size: 18px;
        color: white;
        line-height: 20px;
        font-weight: 800;
        padding: 12px 10px 12px 0px;
    }
}

.wl-navbar-item .feather {
    margin-right: 15px;
}

.wl-sidebar .wl-navbar-menu .wl-navbar-item.is-active {
    background-color: #0e99ac;
    color: lavender;
    border-color: white;
}


.wl-sidebar .wl-navbar-menu .wl-navbar-item a>img {
    margin-right: 10px;
}

.sidebar-divide {
    position: relative;
    height: 1px;
}

.sidebar-divide:after {
    content: "";
    border-top: 1px solid rgba(255, 255, 255, 0.5);
    position: absolute;
    left: 30px;
    right: 30px;
    top: 0;
}

/* header */

.wl-header {
    display: flex;
    align-items: center;
    position: fixed;
    left: 260px;
    top: 0;
    right: 8px;
    height: 70px;
    padding: 0 52px 0 60px;
    z-index: 100;
    min-width: 660px;
    -webkit-backdrop-filter: blur(30px);
    backdrop-filter: blur(30px);
    background-color: hsla(0, 0%, 100%, 0.5);
}


.wl-header .level-header {
    position: relative;
    z-index: 1;
    width: 100%;
}

.level-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.wl-header .level-left {
    flex-grow: 1;
    margin-right: 15px;
}

.wl-header .level-left .wl-btn {
    display: flex;
    align-items: center;
}

.wl-header .level-left .search {
    position: relative;
    width: 100%;
    max-width: 440px;
}

.wl-btn {
    border-radius: 999px;
    line-height: normal;
    display: inline-block;
    text-transform: none;
    text-align: center;
    position: relative;
    cursor: pointer;
    position: relative;
    border: none;
}

.search_container {
    position: relative;
    border-radius: 20px;
    height: 40px;
    background-color: rgba(0, 0, 0, 0.05);
}

.search_container .input-wrapper {
    position: absolute;
    top: 0;
    left: 38px;
    right: 10px;
    bottom: 0;
}

.search_container input {
    margin: 0;
    display: inline-block;
    width: 95%;
    font-size: 16px;
    color: #282828;
    background-clip: padding-box;
    border: none;
    position: relative;
    height: 100%;
    line-height: 34px;
}

.search_container .feather {
    position: absolute;
    cursor: pointer;
    top: 10px;
    left: 10px;
    color: #757575;
}

.search_container .feather-x {
    right: 15px;
    left: auto;
    font-size: 14px;
    top: 10px;
}

.wl-header .level-right {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.wl-header .level-right .setting-item {
    position: relative;
    margin-right: 15px;
}

.wl-header .level-right .setting-item>.wl-btn {
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.05);
    border-radius: 999px;
}

.user-setting {
    position: relative;
}

.wl-avatar-frame {
    border-radius: 999px;
    height: 40px;
}

.level-header img {
    display: inline-block;
    vertical-align: middle;
}

.user-setting {
    position: relative;
}

.wl-avatar-frame .wl-btn {
    line-height: unset;
}

.is-40x40 {
    width: 40px;
    height: 40px;
}

.is-rounded {
    overflow: hidden;
    border-radius: 999px !important;
}